# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Database file
tracker.db
tracker.log
tracker.db-journal

# Ignore local scripts
alterar.py
outro.py

# PyInstaller output
build/
dashboard.spec

dashboard.html

# VS Code workspace settings
.vscode/
.DS_Store
